.carousel-container {
    height: 200px; /* Fija la altura del carrusel */
    overflow: hidden;
}

.carousel-container img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Asegura que las imágenes se ajusten como cover */
}

.custom-height {
    max-height: 500px; /* Ajusta según lo que necesites */
    min-height: 500px;
}

.carousel.carousel-slider, .carousel .slider-wrapper, .carousel .slider-wrapper.axis-horizontal .slider {
    height: -webkit-fill-available;
    max-height: 500px;
}